body{
	background-color: white;
	margin: 0 auto;
	max-width: 96%;
	font-family: 'Roboto', arial, sans-serif;
	font-size: 13px;
}
.block{
	display: block;
}
.float-right{
	float : right;
	clear: right;
}
.hidden{
	display: none;
}
.element{
	border: 1px solid transparent;
	line-height: 20px;
}
.element > div{
	display: inline;
	margin-right: 5px;
}
.take-all-width{
	width:100%
}
.btn{
	cursor: pointer;
	display: inline-block;
	background-size: auto;
	background-position: center center;
	background-repeat: no-repeat;
}
.btn-refresh{
	background-image: url(./images/glyphicons-82-refresh.png);		
	background-size: 80%;	
	width: 25px;
	height: 26px;
}
.btn-add{
	background-image: url(./images/glyphicons-433-plus.png);
	width: 20px;
	height: 20px;
}
.btn-unstage{
	background-image: url(./images/glyphicons-434-minus.png);
	width: 18px;
	height: 4px;
}
.btn-revert{
	background-image: url(./images/glyphicons-436-undo.png);
	width: 24px;
	height: 14px;
}
.btn-up{
	background-image: url(./images/glyphicons-214-up-arrow.png);
	width: 18px;
	height: 20px;
}
.btn-down{
	background-image: url(./images/glyphicons-213-down-arrow.png);
	width: 18px;
	height: 20px;
}
ul{
	display:inline-block;
	list-style-type: none;
	padding:0px;
	margin:0px;
}
ul > li {
	padding: 1px;
	display: inline-block;
	height: 100%;
}

li > a {
	vertical-align: middle;
}
.filepath{
	white-space: nowrap;
}
.element > .element-controls {
	display: none;
}
.element:hover > .element-controls{
	display: block;
}
.element:hover{
	background-color: #FAFAFA;
}
.fix-input-padding{
	padding-right: 7px;
}
.area{
	margin-top: 5px;
	padding: 5px;
}
.area-title{
	font-size: 16px;
	line-height: 120%;
	font-weight: bold;
	margin: 0 0 10px;
	color: #566370;
	text-transform: uppercase;
}
.remote_switch{
	padding-top: 5px;
}
.line {
	clear: both;
}
.ffButton {
  display: block;
  font-size: 13px;
  box-sizing: border-box;
  border: none;
  padding: 0 15px;
  background-color: #e3e5e6;
  color: #555;
  text-align: center;
  height: 36px;
  line-height: 36px;
  margin: 5px 5px 0 0;
  transition: all .15s ease-in;
  min-width: 100px;
}

.ffButton.error {
  color: white;
  background-color: #c9302c;
}

.ffButton.success {
  color: white;
  background-color: #5cb85c;
}

.ffButton:hover {
    text-decoration: none;
    background-color: #a6aaab;
    color: #fff;
    cursor: pointer;
}