<!DOCTYPE html>
<html lang="en" ng-app="gitapp">
<head>
	<meta charset="UTF-8">
	<title>Git</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<script src="./lib/angular.min.js"></script>
	<script src="./app/js/app.js"></script>
	<link rel="stylesheet" href="./app/styles/app.css">
</head>
<body ng-controller="mainViewController">
	<header class="header">
		<ul class="take-all-width">
			<li class="float-left">
				<div class="remote_switch" ng-hide="noGit" ng-click="viewRemotes = !viewRemotes">
					<small>{{ viewRemotes ? '▼' : '►'}}</small> <span>Repositories</span>			
				</div>
			</li>
			<li class="float-right">
				<a class="btn btn-refresh" ng-class="busy ? 'loading' : ''" ng-click="getStatus()"></a>
			</li>
		</ul>
	</header>
	<div class="area-notgit" ng-show="noGit">
		<button id="btnInit" class="ffButton ffButton blue margin-auto" ng-click="init()"> Create a repository</button>
	</div>
	<div class="area-git" ng-hide="noGit">
		
		<!-- Remotes -->
		<section class="area area-remotes block" ng-show="viewRemotes">
			
			<!-- Area Barre -->
			<div class="element element-title block take-all-width">
				<span class="area-title float-left">
					Remote Repositories
				</span>
				<div class="element-controls float-right">
					<ul>
						<li><a class="btn btn-add"  ng-click="toggleAddRemote()"></a></li>
					</ul>		
				</div>
			</div>
			
			<!-- Add New Remote -->
			<div class="block take-all-width " ng-show="viewAddRemote">
				<div class="block take-all-width">
					<span class="label block">Name </span>
					<input type="text" id="addRemoteFirstInput" ng-model="newRemoteName"/>
				</div>				
				<div class="block take-all-width">
					<span class="label block">URL </span>
					<input type="text" ng-model="newRemoteURL"/>
				</div>
				<div class="block take-all-width">
					<span class="label block">Username </span>
					<input type="text" ng-model="newRemoteUser"/>
				</div>
				<div class="block take-all-width">
					<span class="label block">Password </span>
					<input type="password" ng-model="newRemotePassword"/>
				</div>
				<p class="small tip">The password will be saved as plain text in the .git/config file. You can however leave the Username and Password fields empty and <a href="http://wakanda.github.io/wakanda-studio/version-control.html#remote" target="_blank">configure your operating system</a>.</p>
				<button class="ffButton green float-left" ng-click="addRemote(newRemoteName, newRemoteURL, newRemoteUser, newRemotePassword)"><img src="./app/styles/images/checkmark.png"> Add</button>
				<button class="ffButton transparent float-left" ng-click="toggleAddRemote()">Cancel</button>
				<div class="clear"></div>
				<br>
			</div>
			
			<!-- Nothing to list -->
			<div class="block take-all-width"  hidden ng-show="noRemotes && viewRemotes && !viewAddRemote">
				No remote repositories were found.
			</div>
			
			<!-- Elements list -->
			<div class="element block take-all-width auto-height" ng-repeat="remote in remotes">
				<div  class="remote-name filepath" ng-bind="remote.name"></div>
				<div class="element-controls float-right">
					<ul>
						<li><a class="btn btn-unstage" ng-click="removeRemote(remote.name)"></a></li>
						<li><a class="btn btn-up" ng-click="viewPush(remote.name)"></a></li>
						<li><a class="btn btn-down" ng-click="viewPull(remote.name)"></a></li>
					</ul>				
				</div>
				<div class="element-remotes block take-all-width" ng-show="currentRemote==remote.name">
					<div class="block take-all-width">
						<span class="label block">Local Branch </span>
						<select class="take-all-width" ng-model="localBranch">
							<option value="{{branch}}" ng-repeat="branch in branches">{{branch}}</option>
						</select>
					</div>
					<div class="block take-all-width">
						<span class="label block">Remote Branch </span>
						<select class="take-all-width" ng-model="remoteBranch"/>
							<option value="{{branch}}" ng-repeat="branch in branches">{{branch}}</option>
						</select>
					</div>
					<button class="ffButton green float-left" ng-click="remoteAction(pendingRemoteAction, remote.name, localBranch, remoteBranch)"><img src="./app/styles/images/checkmark.png"> {{pendingRemoteActionTitle}}</button>
					<button class="ffButton transparent float-left" ng-click="toggleRemoteActionView()">Cancel</button>
					<div class="clear"></div>
				</div>		
				<div class="clear"></div>		
			</div>
			
		</section>
		
		<!-- Commit -->
		<section class="area element-title area-commit block">
			<span class="block area-title">
				Commit message
			</span>
			<div class="line"></div>
			<div class="fix-input-padding"><textarea id="txtCommitMessage" class="take-all-width" ng-model="commitMessage"></textarea></div>
			<button id="btnCommit" class="take-all-width ffButton blue float-left clear" ng-click="commit()"><img src="./app/styles/images/checkmark.png"> Commit</button>
			<div class="clear"></div>
		</section>
		
		<!-- Stage -->
		<section class="area area-stage block">
			
			<!-- Area Barre -->
			<div class="element element-title block take-all-width">
				<span class="area-title float-left">
					Staged Changes
				</span>
				<div class="element-controls float-right">
					<ul>
						<li><a class="btn btn-unstage"  ng-click="unstageAll()"></a></li>
					</ul>		
				</div>
			</div>
			<div class="line"></div>
			
			<!-- Nothing to list -->
			<div class="block take-all-width" ng-show="stage.length===0">
				No changes were added to the stage.
			</div>
			
			<!-- Elements list -->
			<div class="element block take-all-width" ng-repeat="file in stage.slice(0, 100)">
				<div ng-class="file.class"></div><div  class="filepath" ng-bind="file.path"></div>
				<div class="element-controls float-right">
					<ul>
						<li><a class="btn btn-unstage"  ng-click="unstageFile(file.path)"></a></li>
					</ul>				
				</div>
			</div>
			<div class="element block take-all-width more-results" ng-show="stage.length>99">+{{stage.length-100}} other files</div>
		</section>
		
		<!-- Working Directory -->
		<section class="area area-tree block">
			
			<!-- Area Barre -->
			<div class="element element-title block take-all-width">
				<span class="area-title float-left">
					Changes
				</span>
				<div class="element-controls float-right">
					<ul>
						<li><a class="btn btn-add" ng-click="addAll()"></a></li>
						<li><a class="btn btn-revert" ng-click="revertAll()"></a></li>
					</ul>		
				</div>
			</div>
			<div class="line"></div>
			
			<!-- Nothing to list -->
			<div class="block take-all-width" ng-show="workingTree.length===0">
				No changes are in the working directory
			</div>
			
			<!-- Elements list -->
			<div class="element block take-all-width" ng-repeat="file in workingTree.slice(0, 100)">
				<div ng-class="file.class"></div><div class="filepath" ng-bind="file.path"></div>
				<div class="element-controls float-right">
					<ul>
						<li><a class="btn btn-add" ng-click="addFile(file.path)"></a></li>
						<li><a class="btn btn-revert" ng-click="revertFile(file.path)"></a></li>
					</ul>
				</div>
			</div>
			<div class="element block take-all-width more-results" ng-show="workingTree.length>99">+ {{workingTree.length-100}} other files</div>
			
		</section>
		
		<!-- Debug -->
		<section class="area-debug hidden">
			<p>
				<input type="text" id="action">
				<button id="run" onclick="runCommand();">Run</button>
			</p>
			<div id="output" class="block">
			</div>
		</section>
	</div>		
</body>
</html>